Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp-Editor-firstpass.dll.mdb
